@import './../../../../variables';
.cs-red {
    color: $red;
    padding-right: .5rem;
}
.cs-row {
    display: flex;
    align-items: center;
}
.cs-close {
    position: absolute;
    top: 16px;
    right: 10px;
}
.cs-padding {
    padding: 20px 0;
}
.cs-wrapper {
    padding: 8px 16px;
    box-sizing: border-box;
}
.none {
    display: none !important;
}
.cs-panel-1 {
    display: flex;
    align-items: center;
    h3 {
        margin: 10px 0;
        margin-left: 5px;
        font-size: 15px !important;
        line-height: 100%;
        p {
            font-size: 12px !important;
            margin-bottom: 0;
            line-height: 100%;
        }
    }
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
}