div.theme-bsc(*ngIf="isShowProgress")
    mat-progress-bar(mode="indeterminate")
h1(mat-dialog-title)
    | {{data.title}}
    button(mat-icon-button)
        mat-icon more_vert

div(mat-dialog-content)
    form.theme-bsc
        .w-1
            mat-form-field
                input(matInput, placeholder="Descripci칩n", name="descripcion", [(ngModel)]="data.descripcion")
        .w-1
            mat-form-field
                input(matInput, placeholder="Oportunidad de medici칩n", name="oportunidad", [(ngModel)]="data.oportunidad")
        .w-2
            mat-form-field
                input(matInput, placeholder="Formula de c치lculo", name="formula", [(ngModel)]="data.formula")

            mat-form-field
                input(matInput, placeholder="Fuente de procesamiento", name="fuente", [(ngModel)]="data.fuente_data")
        .w-2
            mat-form-field
                input(matInput, placeholder="Unidad", name="unidad", [(ngModel)]="data.unidad")
            mat-form-field
                input(matInput, placeholder="Frecuencia de medici칩n", name="tipo_med", [(ngModel)]="data.tipo_med")

    .cs-resp
        p Responsables :
        cs-user-avatar([users]="responsables", [usersCount]="responsables.length")

div.theme-bsc(mat-dialog-actions)
    button(mat-button, color="primary", (click)="onNoClick()") CERRAR