
<h1 mat-dialog-title>¿Deseas anular el egreso?
  <button class="cs-close" mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div class="theme-treasury" mat-dialog-content>
  <p>Al anular el egreso el monto íntegro volverá a estar en tu caja.</p>
  <div class="cs-content">
    <p class="padding-right">{{ element_mov.description }}</p><strong>S/ {{ element_mov.total - element_mov.monto_pagado | number:'1.2-2'}}</strong>
  </div>
  <form class="padding-top" [formGroup]="cancelForm">
    <mat-form-field class="full-width">
      <textarea matInput maxlength="120" #observation formControlName="observation" placeholder="Observación" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4"></textarea>
      <mat-error *ngIf="cancelForm.controls.observation.invalid">Debes ingresar una observación</mat-error>
      <mat-hint align="end">{{ observation.value.length }} / 120</mat-hint>
    </mat-form-field>
  </form>
</div>
<div class="theme-treasury mat-dialog-actions no-padding-top" mat-dialog-actions>
  <button mat-button color="accent" (click)="onNoClick()">CANCELAR</button>
  <button mat-button color="accent" [disabled]="!cancelForm.valid" (click)="saveCancelExpense()" cdkFocusInitial>CONFIRMAR</button>
</div>