
<h1 mat-dialog-title>{{ title }}
  <button class="cs-close" mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div class="theme-treasury" mat-dialog-content>
  <p>{{ content }}</p>
</div>
<div class="theme-treasury" mat-dialog-actions>
  <button mat-button color="accent" routerLink="/tesoreria/caja">IR A CAJA</button>
  <div>
    <button mat-button (click)="onNoClick()" color="accent">CANCELAR</button>
    <button mat-button color="accent" cdkFocusInitial (click)="confirmCash()">CONFIRMAR</button>
  </div>
</div>