.cs-mat-row([class.active-line]="!active")
    .cs-mat-cell
        span {{ title }}
            button(*ngIf="isInfo", mat-icon-button)
                mat-icon help_outline

        .cs-buttons
            mat-slide-toggle(*ngIf="isToggle", (change)="onChange($event)")
            button(mat-icon-button, (click)="onClick($event)")
                mat-icon(aria-label="arrow") {{ active ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}


.cs-mat-row-body([ngClass]='active ? "active" : ""', [@slideInOut]="active ? 'in': 'out'")
    ng-content