@import './../../../../variables';
mat-icon {
    color: $dark;
}
.mat-dialog-actions {
    align-items: center;
    justify-content: flex-end;
    padding: 12px 24px;
}

.mat-form-field {
    width: 100%;
    box-sizing: border-box;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-list-item {
    position: relative;
    &:before {
        content: "";
        width: calc(100% - 80px);
        bottom: 0;
        right: 0;
        height: .55px;
        background-color: $muted;
        display: block;
        margin-bottom: -1px;
        position: absolute;
    }
}
.dialog-header {
    min-height: 56.56px;
    padding: 0 24px;
    box-sizing: border-box;
    display: inline-flex;
    align-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    h1 {
        margin-bottom: 0;
    }

}
hr {
    margin: 0;
}

.cs-form {
    width: 100%;
}

.cs-full-width {
    width: 100%;
}

.mat-progress-bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}