@import './../../../../variables';

mat-sidenav-content {
    background: transparent;
    padding-bottom: 164px;
    @media screen and (max-width: 768px){
        padding-bottom: 90px;
    }
}

.mat-toolbar {
    &.fixed-mobile {
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

        p {
            margin-bottom: 0;
            padding-left: 6em;
        }

        cs-circular-gauge-component {
            transform: scale(0.3);
            margin-top: -160px;
            position: absolute;
            bottom: -180px;
            left: -50px;
        }
    }
}

.mobile-mat-sidenav {
    z-index: 10;
}

mat-sidenav-container {
    min-height: 840px;
}

mat-sidenav-content {
    .wrapper {
        padding: 0 72px 0 20px;
        -webkit-transition: padding 0.8s cubic-bezier(0.0, 0.0, 0.2, 1) ;
        -moz-transition: padding 0.8s cubic-bezier(0.0, 0.0, 0.2, 1);
        transition: padding 0.8s cubic-bezier(0.0, 0.0, 0.2, 1);
        &.open {
            padding: 0 72px;
            @media screen and (max-width: 1024px) {
                padding: 0 52px;
            }
            @media screen and (max-width: 800px) {
                padding: 0 32px;
            }
            @media screen and (max-width: 640px) {
                padding: 0 24px;
            }
        }
        @media screen and (max-width: 1279px) {
            padding: 0 72px;
        }
        @media screen and (max-width: 1024px) {
            padding: 0 32px;
        }
        @media screen and (max-width: 640px) {
            padding: 0 24px;
        }

    }
}


.mat-drawer-container {
    background: transparent;
}

.margin-top-64 {
    margin-top: 64px;
}
.margin-top-128 {
    margin-top: 128px;
}

.mat-toolbar {
    &.fixed-sideNav {
        position: fixed;
        z-index: 2;
        min-width: 320px;
    }
    @media screen and (max-width: 640px) {
        background: $light !important;
    }
}

mat-sidenav {
    width: 320px;
    @media screen and (max-width: 640px) {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 4;
    }
}

.cs-info {
    padding: 0 32px;
    margin-top: -130px;
    h2 {
        font-size: 20px;
    }

}

.mat-card {
    z-index: 1;
}

.mat-drawer {
    background: $muted;
    @media screen and (max-width: 640px) {
        background: $light;
    }
}

.cs-margin-minus-top {
    margin-top: -64px;
}


.cs-icon {
    cursor: pointer;
}

mat-expansion-panel {
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all .3s ease-in-out;
    &.mat-expansion-panel-spacing {
        transform: matrix(1.03, 0, 0, 1.03, 0, 0);
    }
}

mat-expansion-panel-header {
    min-height: 230px;
    position: relative;
}

.mat-expansion-panel-header {
    align-items: flex-start;
    padding: 24px;
}

.mat-form-field{
    width: 100%;
}

/* Structure */

.cs-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.cs-panel {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    width: calc(100% / 4);
    flex-direction: column;
    @media screen and (max-width: 1680px) {
        &.width-180 {
            max-width: 180px;
        }
        &.width-230 {
            max-width: 230px;
        }
        &.width-300 {
            max-width: 300px;
        }
    }
    @media screen and (max-width: 640px) {
        width: 100%;
        &.width-180 {
            max-width: 100%;
        }
    }
}
.cs-gauge {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
}

.cs-panel-title {
    display: block;
    width: 100%;
    flex-grow: 1;
    margin-right: 16px;
}

.cs-p {
    p {
        font-size: 12px;
        color: $dark;
        font-weight: 100;
        line-height: 1.5;
    }
}
.cs-legend {
    ul {
        position: relative;
        padding: 0;
    }

    li {
        list-style: none;
        font-size: 12px;
        color: $dark;
        display: block;
        margin-left: 20px;
        position: relative;
        mat-icon {
            color: #FFB106;
            width: 14px;
            margin-right: .5rem;
        }

        &:before{
            content: "";
            position: absolute;
            right: 100%;
            top: 0;
            bottom: 0;
            width: 15px;
            height: 15px;
            background-color: transparent;
            vertical-align: middle;
            display: inline-block;
            margin: auto;
            margin-right: .5rem;
            border-radius: 50%;
        }
        &:first-child{
            &:before{
                background-color: $red;
            }
        }
        &:nth-child(2){
            &:before{
                background-color: $orange;
            }
        }
        &:nth-child(3){
            &:before{
                background-color: $green;
            }
        }

        &:last-child {
            margin-left: 0;
        }

    }
}

//Media Querys
@media screen and (max-width: 1279px) {
    mat-sidenav-container {
        .margin-top-64 {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 800px) {
    .margin-top-128 {
        margin-left: -20px;
    }
}


@media screen and (max-width: 768px) {
    .cs-margin-minus-top {
        margin-top: -54px;
    }
}

@media screen and (max-width: 640px) {
    #bsc-wrapper {
        margin-top: 0;
    }

    .padding {
        padding: 16px 0;
    }

    .margin-top-128 {
        margin-top: 0;
    }
    .cs-gauge {
        padding-top: 64px;
    }
    .mat-toolbar {
        &.fixed-sideNav {
            max-width: 100%;
        }
        &.transparent {
            background: $light;
        }
    }
    .mat-drawer {
        transform: translate3d(0, 100%, 0);
        transition: none;
    }


    .cs-content {
        display: block;
    }
    .margin-top-minus-110 {
        margin-top: 0 !important;
    }
    .cs-panel {
        &:first-child {
            margin-top: -110px;
            padding: 0 32px;
        }
        &:nth-child(2) {
            margin-right: 0;
        }
        &:first-child,
        &:nth-child(2) {
            display: inline-block;
            width: calc(50% - 10px);
            vertical-align: top;
            max-width: 100%;
        }

        &:nth-child(3),
        &:nth-child(4) {
            display: inline-block;
            margin-right: 0;
            width: 100%;
            max-width: 100% !important;
            transform: translate3d(0,-90px,0);
        }
    }
}

@media screen and (max-width: 520px) {
    .cs-panel {
        &:first-child {
            margin-top: -105px;
            padding: 0;
        }
    }
}
@media screen and (max-width: 420px) {
    .cs-panel {
        &:first-child {
            margin-top: -125px;
        }
    }
}

