
<div class="cs-mat-row" [class.margin-left]="!isArrow">
  <div class="cs-mat-cell">
    <button mat-icon-button (click)="onClick($event)" *ngIf="isArrow">
      <mat-icon aria-label="arrow" *ngIf="active; else elseBlock">keyboard_arrow_up</mat-icon>
      <ng-template #elseBlock>
        <mat-icon aria-label="arrow">keyboard_arrow_down</mat-icon>
      </ng-template>
    </button>{{ description }}
    <div class="button-row"><span matTooltip="{{current}} / {{total}}">
        <button mat-icon-button>
          <mat-icon>info_outline</mat-icon>
        </button></span></div>
  </div>
  <div class="cs-mat-cell cs-mat-column-width-150">{{ anterior }}
    <div class="button-row">
      <button mat-icon-button (click)="openDialog(entityId, 'anterior')">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="cs-mat-cell cs-mat-column-width-200">
    <cs-trend-table [trendFlag]="flg_var" [value]="porcentaje" [variation]="variation" [unidad_med]="unidad_med"></cs-trend-table>
    <div class="button-row">
      <button mat-icon-button (click)="openDialog(entityId, 'current')" *ngIf="flgManual=='S' &amp;&amp; !isArrow">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="cs-mat-cell cs-mat-column-width-90">{{ goal }}
    <div class="button-row">
      <button mat-icon-button (click)="openDialog(entityId, 'goal')">
        <mat-icon>mode_edit</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="cs-mat-row-body" [class.active]="active">
  <ng-content></ng-content>
</div>