@import './../../../../variables';
.wrapper {
    position: relative;
}
.mat-icon {
    color: rgba(0, 0, 0, 0.5);
}
.padding {
    padding: 30px 24px;
    box-sizing: border-box;
}
.mat-toolbar-fixed {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background: $light;
    transition: all .2s ease;
    &.sombra {
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.04), 0 1px 10px 0 rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
    }
}
.cs-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    p {
        color: $light;
        margin-bottom: 0;
    }
}
.w-100 {
    max-width: 100px;
    &.cs-action {
        transition: max-width .25s linear;
    }
}
.w-50 {
    max-width: 50px;
}
.w-150 {
    max-width: 150px;
}

.w-40 {
    max-width: 0px;
    transition: max-width .25s linear;
}
.mat-row {
    position: relative;
    cursor: pointer;
    @media screen and (min-width: 1025px) {
        &:hover {
            background-color: $muted;
            .w-40 {
                max-width: 40px;
            }
            .cs-action {
                max-width: 60px;
            }
            .cs-hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.cs-mat-toolbar-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: 64px;
    justify-content: flex-end;
    position: relative;
}
.cs-figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: inherit;
    img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        min-width: 40px;
        cursor: pointer;
        object-fit: cover;
    }
    caption {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        padding: 0;
        padding-left: 8px;
        strong,
        span {
            line-height: 100%;
        }
        strong {
            font-size: 1.4rem;
        }
        span {
            font-size: 1.2rem;
        }
    }
}

.cs-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    align-items: flex-start;
    cs-empty {
        display: flex;
        width: 100%;
        min-height: 640px;
        align-items: center;
        justify-content: center;
    }
}

.cs-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    &.width-420 {
        max-width: 420px;
    }
    &:nth-child(2) {
        border-left: 1px solid $muted;
    }
}

.mat-cell,
.mat-header-cell {
    &:first-child {
        overflow: visible;
    }
}
.cs-text {
    position: relative;
}
.mat-checkbox-checked {
    transition: max-width 1s linear;
    &:before {
        content: "";
        background-color: #f4f4f4;
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
    }
}
.cs-detail__student {
    padding:0 16px;
    box-sizing: border-box;
    ul {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
    li {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        justify-content: space-between;
        strong {
            opacity: .5;
        }
    }
}
.cs-color {
    text-transform: uppercase;
    opacity: .8;
    font-size: 1.1rem;
    font-weight: bold;
    &.red {
        color: $red;
    }
    &.green {
        color: $green;
    }
}