
<mat-toolbar [ngStyle]="{ 'background-color': primary }">
  <mat-toolbar-row><span class="cs-spacer"></span><a href="http://smiledu.pe/" target="_blank" [ngStyle]="{ 'color': light }">
      <ghost class="isLoading xl">Ayuda</ghost></a>
    <figure class="cs-logo">
      <ghost class="img isLoading"><a href="http://smiledu.pe/" target="_blank"><img [src]="SMILEDU_ICO"></a></ghost>
    </figure>
  </mat-toolbar-row>
</mat-toolbar>
<figure class="cs-help" *ngIf="isSkeletonPage"><img [src]="MESSAGE_HELP"></figure>
<div class="cs-wrapper">
  <div class="cs-content__top" [ngStyle]="{ 'background-color': primary }">
    <div class="cs-row cs-flex-end" *ngIf="!mobileQuery.matches">
      <div class="cs-content__inner" *ngIf="isSkeletonPage">
        <figure class="cs-doodle"><img [src]="LOVE_SCHOOL"></figure>
      </div>
      <div class="cs-content__inner" *ngIf="!isSkeletonPage">
        <figure class="cs-iso-logo"><img src="assets/images/icons/iso_smiledu.png">
          <h3>Estamos aquí para ayudarte</h3>
          <p>- El equipo de smiledu</p>
        </figure>
      </div>
    </div>
    <mat-progress-bar *ngIf="!isSkeletonPage" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="cs-content__bottom" [ngStyle]="{ 'background-color': secondary }">
    <div class="cs-row" *ngIf="!mobileQuery.matches">
      <div class="cs-content__inner">
        <div class="cs-text">
          <h3>
            <ghost class="isLoading lg">La educación es el pasaporte hacia el futuro.</ghost>
          </h3>
          <p>
            <ghost class="isLoading paragraph"></ghost>
            <ghost class="isLoading paragraph">La educación es el proceso de facilitar el aprendizaje. Los conocimientos, habilidades, valores, creencias y hábitos de un grupo de personas…</ghost>
          </p>
          <ghost class="isLoading gt-button-two">
            <div class="cs-button-row">
              <button mat-button><span>ENTÉRATE MÁS</span>
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button class="margin-left" mat-button><span>COMPARTIR</span></button>
            </div>
          </ghost>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-content cs-wancho">
    <div class="cs-panel">
      <mat-card class="cs-width no-padding">
        <mat-toolbar class="transparent">
          <mat-toolbar-row>
            <button mat-icon-button [disabled]="!isSkeletonPage" [matMenuTriggerFor]="appMenu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu" panelClass="cs-history-session" xPosition="before" yPosition="below">
              <mat-nav-list>
                <mat-list-item *ngFor="let user of usersTmp" (click)="selectUser(user)"><img matListAvatar [src]="UNKNOWN_USER_IMAGE">
                  <h3 matLine>{{ user.fullName }}</h3>
                  <p matLine>{{ user.email }}</p>
                  <button mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </mat-menu>
            <ghost class="img-custom isLoading"><img class="cs-form-logo" *ngIf="!userCache" [src]="collegePage?.logo_cole">
              <mat-list class="cs-mat-nav-list" *ngIf="userCache">
                <mat-list-item><img matListAvatar [src]="UNKNOWN_USER_IMAGE">
                  <h3 matLine>{{ userCache?.fullName }}</h3>
                  <p matLine>{{ userCache?.email }}</p>
                </mat-list-item>
              </mat-list>
            </ghost><span class="cs-spacer">
              <ghost class="isLoading md"></ghost></span>
            <button *ngIf="isSkeletonPage" mat-icon-button [matMenuTriggerFor]="popover">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #popover="matMenu" xPosition="before" yPosition="below">
              <button mat-menu-item>
                <mat-icon>info_outline</mat-icon>Mi escuela
              </button>
              <button mat-menu-item>
                <mat-icon>announcement</mat-icon>Sugerencias
              </button>
            </mat-menu>
          </mat-toolbar-row>
        </mat-toolbar>
        <form [formGroup]="newUserForm">
          <ghost class="isLoading cs-input-full">
            <mat-form-field class="full-width" #formColor>
              <input matInput placeholder="Usuario o correo" [value]="userCache?.email" formControlName="username">
            </mat-form-field>
          </ghost>
          <ghost class="isLoading cs-input-full">
            <mat-form-field class="full-width" #formColor>
              <input matInput type="password" placeholder="Contraseña" formControlName="password">
            </mat-form-field>
          </ghost>
          <ghost class="isLoading md"><a [ngStyle]="{ 'color': primary }" [matMenuTriggerFor]="menu">¿Has olvidado cómo ingresar?</a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openFortgotUser('password')">¿Has olvidado tu contraseña?</button>
              <button mat-menu-item (click)="openFortgotUser('usuario')">¿Has olvidado tu usuario?</button>
            </mat-menu>
          </ghost>
        </form>
        <div class="cs-action">
          <ghost class="isLoading gt-button">
            <button class="full-width" (click)="login()" mat-raised-button [ngStyle]="newUserForm.valid ? { 'background-color': primary } : {}" [disabled]="!newUserForm.valid">SIGUIENTE</button>
          </ghost>
          <div class="cs-line">
            <ghost class="isLoading xl">O conectar con</ghost>
          </div>
        </div>
        <div class="cs-connect">
          <ghost class="isLoading gt-btn-icon circle">
            <button mat-icon-button><img [src]="ICON_FACEBOOK"></button>
          </ghost>
          <ghost class="isLoading gt-btn-icon circle">
            <button mat-icon-button><img [src]="ICON_GOOGLE"></button>
          </ghost>
          <ghost class="isLoading gt-btn-icon circle">
            <button mat-icon-button><img [src]="ICON_OUTLOOK"></button>
          </ghost>
        </div>
      </mat-card>
      <div class="cs-p cs-width">
        <ghost class="isLoading xl min-height">
          <p>Haciendo clic en ‘Ingresar’, estoy de acuerdo con<a>Términos y condiciones</a>de Smiledu, y<a>Política de privacidad</a></p>
        </ghost>
      </div>
    </div>
    <div class="cs-panel" *ngIf="!mobileQuery.matches">
      <mat-card class="cs-width no-padding transparent"></mat-card>
    </div>
  </div>
</div>
<footer-component *ngIf="isSkeletonPage" [color]="primary"></footer-component>