
<div class="theme-treasury">
  <cs-shrinking-header-component [ngClass]="tsrsidenav._opened ? 'cs-parche' : 'cs-parche-hide' " [headerHeight]="mobileQuery.matches ? 192 : 256" [offset]="mobileQuery.matches ? 45: 64">
    <div class="wrapper"><span class="font-size-56" [class.hideTitle]="displayTitle" (click)="backPage()">Movimientos</span></div>
  </cs-shrinking-header-component>
</div>
<mat-sidenav-container class="theme-treasury cs-margin-minus-top">
  <mat-sidenav class="margin-top-64" #tsrsidenav [class.mobile-mat-sidenav]="mobileQuery.matches" [mode]="mobileQuerySide.matches ? 'over': 'side'" position="start" [opened]="mobileQuerySide.matches ? false : true">
    <div class="mat-wrapper">
      <div class="mat-item">
        <mat-icon>search</mat-icon>
      </div>
      <div class="mat-item">
        <mat-form-field floatLabel="never">
          <input matInput type="text" placeholder="Buscar" [(ngModel)]="filter" (keyup)="filterUsers($event, 0)">
          <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-item">
        <button mat-icon-button [matMenuTriggerFor]="menuFiltro">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #menuFiltro="matMenu" yPosition="below" xPosition="before">
          <button mat-menu-item (click)="filterByTipo(1, '')"><span>Todos</span></button>
          <button mat-menu-item (click)="filterByTipo(2, 'Estudiantes')"><span>Estudiantes</span></button>
          <button mat-menu-item (click)="filterByTipo(3, 'Colaboradores')"><span>Colaboradores</span></button>
          <button mat-menu-item (click)="filterByTipo(4, 'Colaboradores PP.FF.')"><span>Colaboradores PP.FF.</span></button>
          <button mat-menu-item (click)="filterByTipo(5, 'Proveedores')"><span>Proveedores</span></button>
        </mat-menu>
      </div>
      <div class="mat-item">
        <button mat-icon-button (click)="mobileQuery.matches ? closeSidenav() : tsrsidenav.close()">
          <mat-icon>{{ mobileQuerySide.matches ?  "close" : "arrow_back" }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="cs-info">
      <h3 class="cs-sort-title" *ngIf="users.length &gt; 0">{{ filter_name }}</h3>
      <div class="cs-side-wrapper m-130" [ngClass]="isOpen ? 'cs-show' : 'cs-hide' " *ngIf="users.length &gt; 0" (scroll)="onScrollOne($event)">
        <cs-user-connented [users]="users" (selectUser)="selectUser($event)"></cs-user-connented>
      </div>
      <p class="text-center padding-top" *ngIf="messageUserConnect">{{ messageUserConnect }}</p>
      <div class="cs-figure__click" id="cs-click-1" [class.sombra_1]="isOpen" *ngIf="users.length &gt; 4">
        <button mat-icon-button (click)="openToggle()">
          <mat-icon>{{ isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
      </div>
      <div class="cs-figure-title">
        <h2>Últimos registros</h2>
        <div class="cs-amount"><span>S/ {{ current_money }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menuCaja">
            <mat-icon class="cs-icon">account_balance_wallet</mat-icon>
          </button>
          <mat-menu #menuCaja="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item (click)="openDialogCash(1)" [disabled]="this.estado_caja != null &amp;&amp; this.estado_caja != 'CERRADA'"><span *ngIf="this.estado_caja == null">Aperturar</span><span *ngIf="this.estado_caja == 'CERRADA' || this.estado_caja == 'APERTURADA'">Reaperturar</span></button>
            <button mat-menu-item [disabled]="this.estado_caja != 'APERTURADA'" (click)="openDialogCash(2)"><span>Cerrar</span></button>
            <button mat-menu-item (click)="openShareCash()" [disabled]="this.estado_caja != 'APERTURADA'"><img *ngIf="caja_share.name != null" [src]="caja_share.foto || UNKNOWN_USER_IMAGE" matTooltip="{{caja_share.name}}"><span>Compartir</span></button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/tesoreria/caja"><span>Ir a caja</span></button>
          </mat-menu>
        </div>
      </div>
      <div class="cs-side-wrapper m-308" [ngClass]="!isOpen ? 'cs-show' : 'cs-hide' " (scroll)="onScrollTwo($event)">
        <cs-user-last-register [users]="users_historical" [current_money]="current_money"></cs-user-last-register>
      </div>
      <div class="cs-figure__click" id="cs-click-2" *ngIf="users_historical.length &gt; 6">
        <button mat-icon-button (click)="openToggle()">
          <mat-icon>{{ !isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="transparent">
      <mat-toolbar-row>
        <button class="margin-top-128" mat-icon-button *ngIf="!tsrsidenav._opened" (click)="mobileQuery.matches ? openSidenav() : this.tsrsidenav.toggle()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="wrapper cs-margin-minus-top" id="tsr-wrapper" [class.open]="!this.tsrsidenav._opened">
      <div class="cs-button-fabs">
        <button class="cs-button-fab" mat-fab (click)="toggleMoreFabs(); tooltip.hide()">
          <mat-icon [class.rotate]="!isOpenFab">close</mat-icon>
        </button>
        <div class="cs-fabs" [class.active]="isOpenFab">
          <button mat-raised-button #tooltip="matTooltip" mat-icon-button matTooltip="Conceptos" matTooltipPosition="before" (click)="openCreateConcept()">
            <mat-icon>build</mat-icon>
          </button>
          <button mat-raised-button #tooltip="matTooltip" mat-icon-button matTooltip="Proveedores" matTooltipPosition="before" (click)="openCreateProvider()">
            <mat-icon>work</mat-icon>
          </button>
          <button mat-raised-button #tooltip="matTooltip" mat-icon-button matTooltip="Comprobantes" matTooltipPosition="before" (click)="openCreateVoucher()">
            <mat-icon>receipt</mat-icon>
          </button>
        </div>
      </div>
      <div class="cs-inner-wrapp mat-elevation-z6">
        <div class="cs-content" *ngIf="isEmpty">
          <div class="cs-panel width-300">
            <mat-toolbar class="transparent">
              <mat-toolbar-row>
                <figure class="cs-figure"><img [src]="user_selected.profile_image || UNKNOWN_USER_IMAGE" alt="">
                  <caption><strong>{{ user_selected.first_name | csCapitalize }}</strong><span>{{ user_selected.last_name | csCapitalize }}</span></caption>
                  <div class="cs-figure__state" *ngIf="user_selected.role == ESTUDIANTE"><span [ngClass]="user_selected?.has_prom  ? 'beca'   : ''"></span><span [ngClass]="user_selected?.is_debtor ? 'deudor' : 'no-deudor'"></span></div>
                </figure><span class="cs-spacer"></span>
                <button mat-icon-button (click)="goTofullscreen()">
                  <mat-icon class="cs-icon">fullscreen</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menuInfo" *ngIf="user_selected.role == ESTUDIANTE">
                  <mat-icon class="cs-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menuInfo="matMenu" yPosition="below" xPosition="before">
                  <button mat-menu-item (click)="goToAssingBeca()"><span *ngIf="!user_selected.has_prom">Asignar beca</span><span *ngIf="user_selected.has_prom">Desasignar beca</span></button>
                  <button mat-menu-item (click)="goToWantBill()"><span>¿Desea factura?</span></button>
                </mat-menu>
              </mat-toolbar-row>
            </mat-toolbar>
            <div class="cs-chart__spline">
              <cs-chart-spline [move_chart]="move_chart" [role]="user_selected.role"></cs-chart-spline>
            </div>
            <div *ngIf="user_selected.role == ESTUDIANTE">
              <div class="cs-detail__student">
                <h3>Detalles de {{user_selected.role | csCapitalize }}</h3>
                <ul>
                  <li><strong>Código del estudiante</strong><span>{{ dataUser.cod_estu }}</span></li>
                  <li><strong>Sede</strong><span>{{ dataUser.sede }}</span></li>
                  <li><strong>Grado</strong><span>{{ dataUser.grado }}</span></li>
                  <li><strong>Aula</strong><span>{{ dataUser.seccion }}</span></li>
                </ul>
                <h3 *ngIf="familiares.length &gt; 0">Familiares</h3>
                <cs-user-avatar [users]="familiares" [title]="'Familiares'" [type]="'family'"></cs-user-avatar>
                <h3 *ngIf="hermanos.length &gt; 0">Hermanos</h3>
                <cs-user-avatar [users]="hermanos" [title]="'Hermanos'" [type]="'brother'" (goToStudent)="selectUser($event)"></cs-user-avatar>
                <h3 *ngIf="collaboratorSon.length &gt; 0">Hijos en la escuela</h3>
                <cs-user-avatar [users]="collaboratorSon" [title]="'Hijos en la escuela'" [type]="'son'"></cs-user-avatar>
              </div>
            </div>
            <div *ngIf="user_selected.role == COLABORADOR">
              <div class="cs-detail__student">
                <h3>Detalles de {{user_selected.role | csCapitalize }}</h3>
                <ul>
                  <li><strong>Sede</strong><span>{{ dataUser.sede }}</span></li>
                  <li><strong>Nivel</strong><span>{{ dataUser.nivel }}</span></li>
                  <li><strong>Área</strong><span>{{ dataUser.area }}</span></li>
                  <li><strong>DNI</strong><span>{{ dataUser.nro_doc }}</span></li>
                  <li><strong>Teléf.</strong><span>{{ dataUser.telefono }}</span></li>
                </ul>
              </div>
            </div>
            <div *ngIf="user_selected.role == PROVEEDOR">
              <div class="cs-detail__student">
                <h3>Detalles de {{ user_selected.role | csCapitalize }}</h3>
                <ul>
                  <li><strong>Responsable</strong><span>{{ dataUser.responsable }}</span></li>
                  <li><strong>Teléfono</strong><span>{{ dataUser.telefono }}</span></li>
                  <li><strong>Dirección</strong><span>{{ dataUser.direccion }}</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cs-panel">
            <div class="cs-mat-toolbar">
              <div class="cs-mat-toolbar-row">
                <h3>Compromisos</h3><span class="cs-spacer"></span>
                <button mat-icon-button matTooltip="Asignar Compromiso" [matMenuTriggerFor]="menuCreateMore">
                  <mat-icon svgIcon="create_more"></mat-icon>
                </button>
                <mat-menu #menuCreateMore="matMenu" yPosition="below" xPosition="before">
                  <button mat-menu-item (click)="openRegisterConcept()"><span>Regular</span></button>
                  <button mat-menu-item (click)="openScheduleModal()"><span>Cronograma</span></button>
                </mat-menu>
                <button mat-icon-button matTooltip="Ordenar por" [matMenuTriggerFor]="menu" *ngIf="user_selected.role == ESTUDIANTE">
                  <mat-icon class="cs-icon">sort</mat-icon>
                </button>
                <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                  <button mat-menu-item (click)="getMovimientosPendientes(1)"><span>Todo</span></button>
                  <button mat-menu-item (click)="getMovimientosPendientes(2)"><span>Pendiente</span></button>
                </mat-menu>
              </div>
              <mat-toolbar class="cs-absolute" [class.active]="movementSel.length &gt; 0" color="accent">
                <p *ngIf="movementSel.length &lt;= 1; else pBlock"> {{ movementSel.length }}  Compromiso Seleccionado. Total 504.86</p>
                <ng-template #pBlock>
                  <p>{{ movementSel.length }}  Compromisos Seleccionados. Total 504.86</p>
                </ng-template><span class="cs-spacer"></span>
                <button mat-button (click)="openPayDialog()">PAGAR
                  <mat-icon class="color-light">monetization_on</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menuMore">
                  <mat-icon class="color-light">more_vert</mat-icon>
                </button>
                <mat-menu #menuMore="matMenu" yPosition="below" xPosition="before">
                  <button mat-menu-item (click)="goToEliminateDebt(i)"><span>Eliminar mora</span></button>
                  <button mat-menu-item (click)="goToDiscount()"><span>Descuentos especiales</span></button>
                </mat-menu>
              </mat-toolbar>
            </div>
            <div class="cs-container__table" *ngIf="isEmptyTable; else tableBlock">
              <mat-table *ngIf="dataMovemets" #table [dataSource]="dataMovemets">
                <ng-container matColumnDef="select">
                  <mat-header-cell class="w-50" *matHeaderCellDef>#</mat-header-cell>
                  <mat-cell class="w-50" *matCellDef="let element">
                    <div *ngIf="!element.flg_block">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="checkedMovement($event, element)" [checked]="selection.isSelected(row)"></mat-checkbox>
                    </div>
                    <div *ngIf="element.flg_block">
                      <mat-icon [matTooltip]="element.tooltip">lock</mat-icon>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="cs-text">{{ element.description | csCapitalize }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="total">
                  <mat-header-cell class="w-100" *matHeaderCellDef>Total (S/)</mat-header-cell>
                  <mat-cell class="w-100" *matCellDef="let element">
                    <div class="cs-text">{{element.total }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date_regi">
                  <mat-header-cell class="w-160" *matHeaderCellDef>Fec. regi</mat-header-cell>
                  <mat-cell class="cs-action1 w-160" *matCellDef="let element">
                    <div class="cs-text">{{element.date_regi }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="debt">
                  <mat-header-cell class="w-100" *matHeaderCellDef>Deuda (S/)</mat-header-cell>
                  <mat-cell class="w-100" *matCellDef="let element">
                    <div class="cs-text">{{element.debt }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="paid">
                  <mat-header-cell class="w-100" *matHeaderCellDef>Pagado (S/)</mat-header-cell>
                  <mat-cell class="w-100" *matCellDef="let element">
                    <div class="cs-text">{{element.paid }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date_pay">
                  <mat-header-cell class="w-100" *matHeaderCellDef>Fec. pago</mat-header-cell>
                  <mat-cell class="w-100" *matCellDef="let element">
                    <div class="cs-text">{{element.date_pay }}</div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                  <mat-header-cell class="w-100 text-right" *matHeaderCellDef>Acción</mat-header-cell>
                  <mat-cell class="cs-action w-100 text-right" *matCellDef="let element">
                    <div [ngSwitch]="element.accion">
                      <div class="cs-color" *ngSwitchCase="PAGADO">{{ element.accion }}</div>
                      <div class="cs-color green" *ngSwitchCase="POR_PAGAR">{{ element.accion }}</div>
                      <div class="cs-color red" *ngSwitchCase="VENCIDO">{{ element.accion }}</div>
                      <div class="cs-color blue" *ngSwitchCase="ANULADO">{{ element.accion }}</div>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="more">
                  <mat-header-cell class="w-40" *matHeaderCellDef></mat-header-cell>
                  <mat-cell class="w-40" *matCellDef="let element; let i = index">
                    <button class="cs-hover" mat-icon-button [matMenuTriggerFor]="menuTable">
                      <mat-icon class="cs-icon">more_vert</mat-icon>
                    </button>
                    <mat-menu #menuTable="matMenu" yPosition="below" xPosition="before">
                      <div *ngIf="element.accion == 'PAGADO' &amp;&amp; user_selected.role == ESTUDIANTE">
                        <button mat-menu-item (click)="openCancelCommitment(element, i)"><span>Anular</span></button>
                        <button mat-menu-item (click)="openRefundMoney()"><span>Devolución</span></button>
                        <button mat-menu-item (click)="openPassCredit()"><span>Pasar saldo</span></button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="openVaucher(element)"><span>Comprobantes</span></button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="openInformation(element.id_move)"><span>Más información</span></button>
                      </div>
                      <div *ngIf="element.accion != 'PAGADO' &amp;&amp; user_selected.role == ESTUDIANTE">
                        <button mat-menu-item (click)="openCancelCommitment(element, i)"><span>Anular</span></button>
                        <button mat-menu-item (click)="goToEliminateDebt()"><span>Eliminar mora</span></button>
                        <button mat-menu-item (click)="goToDiscount()"><span>Descuentos especiales</span></button>
                      </div>
                      <div *ngIf="element.accion == 'RETIRADO' &amp;&amp; user_selected.role != ESTUDIANTE">
                        <button mat-menu-item (click)="goToCancelExpenses(element, i)" [disabled]="element.flg_anular_dsbl"><span>Anular</span></button>
                        <button mat-menu-item (click)="goToRetunExpenses(element, i)" [disabled]="element.flg_vuelto"><span>Devolución</span></button>
                      </div>
                    </mat-menu>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
            </div>
            <ng-template #tableBlock>
              <cs-empty [data]="dataMovemets" [message]="messageEmpty" [image]="EMPTY_TESORERIA" [title]="titleTable"></cs-empty>
            </ng-template>
          </div>
          <div class="cs-panel width-285 cs-color-gray" [class.active]="isOpenInformation">
            <div class="cs-mat-toolbar">
              <div class="cs-mat-toolbar-row">
                <button mat-icon-button (click)="isOpenInformation = false">
                  <mat-icon>close</mat-icon>
                </button><span class="cs-spacer"></span>
                <h3>Más información</h3>
              </div>
            </div>
            <div class="cs-content-info">
              <div class="cs-box mat-elevation-z2">
                <div class="cs-list">
                  <div class="cs-item-title">Descripción</div>
                  <div class="cs-item-title">Total (S/)</div>
                </div>
                <div class="cs-list">
                  <div class="cs-item">{{ metadata_move.description }}</div>
                  <div class="cs-item">{{ metadata_move.total_amount }}</div>
                </div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">Pagado (S/)</div>
                <div class="cs-item">{{ metadata_move.total_amount }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">Fec. pago</div>
                <div class="cs-item">{{ metadata_move.date_pay }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">Mora</div>
                <div class="cs-item">{{ metadata_move.mora_acumulada }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">Dias vencimiento</div>
                <div class="cs-item cs-red">{{ metadata_move.dias_mora }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">Documentos</div>
                <div class="cs-item">{{ metadata_move.documents }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">¿Quién lo pagó?</div>
                <div class="cs-item" *ngFor="let pers_pay of metadata_move.pers_pay"><img [src]="pers_pay.foto || UNKNOWN_USER_IMAGE" [matTooltip]="pers_pay.nombre"></div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">¿Donde?</div>
                <div class="cs-item">{{ metadata_move.place_pay }}</div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">¿Cómo?</div>
                <div class="cs-item"><strong>{{ metadata_move.method_pay }}</strong></div>
              </div>
              <div class="cs-list">
                <div class="cs-item-title">¿Descuento de plani.?</div>
                <div class="cs-item" *ngIf="metadata_move.descuento_planilla != null"><img [src]="UNKNOWN_USER_IMAGE" matTooltip="Carlitos Fuentes"></div>
                <div class="cs-item" *ngIf="metadata_move.descuento_planilla == null">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cs-content" *ngIf="!isEmpty">
          <cs-empty [data]="dataUser" [message]="messageEmpty" [image]="EMPTY_TESORERIA" [title]="'Realiza los pagos o cobranzas'"></cs-empty>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>