<div class="mdl-chipset">
    <mat-chip-list>
        <mat-chip *ngFor="let estu of familiares" (click)="selectChipEstu(estu.nid_persona,estu.nom_persona,estu.cant_deuda,estu.deuda_total)">{{estu.nom_persona}}</mat-chip>    
    </mat-chip-list>
</div>  
<mat-card class="mat-card-main">
    <mat-card-header>
        <mat-card-title>{{nombre_estu}}</mat-card-title>
        <mat-card-subtitle>{{info_estu}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table responsive" *ngIf="dataSourceCompromisos.data.length > 0">
            <div class="table responsive">
                <mat-table #table [dataSource]="dataSourceCompromisos">
                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index">
                            <div *ngIf="element.estado != 'PAGADO' && element.estado != 'ANULADO'">
                                <mat-checkbox [checked]="element.checked" [disabled]="element.disabled" (change)="activeDesactiveComp(element.id_movimiento,element.monto_final,i ,$event.checked,element.flg_crono)">
                                </mat-checkbox>
                            </div>
                            <div *ngIf="element.estado == 'PAGADO'">
                                <mat-icon>locked</mat-icon>  
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="desc_cuota">
                        <mat-header-cell *matHeaderCellDef>Concepto</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.desc_cuota}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="monto">
                        <mat-header-cell *matHeaderCellDef>Base(S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.monto}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fecha_descuento">
                        <mat-header-cell *matHeaderCellDef>Fec. descuento</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fecha_descuento}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="descuento_acumulado">
                        <mat-header-cell *matHeaderCellDef>Descuento(S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.descuento_acumulado}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fec_vencimiento">
                        <mat-header-cell *matHeaderCellDef>Fec. vencimiento</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fec_vencimiento}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="mora_acumulada">
                        <mat-header-cell *matHeaderCellDef>Mora(S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.mora_acumulada}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="monto_final">
                        <mat-header-cell *matHeaderCellDef>Total(S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.monto_final}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="monto_adelanto">
                        <mat-header-cell *matHeaderCellDef>Pagado(S/.)</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.monto_adelanto}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="fecha_pago">
                        <mat-header-cell *matHeaderCellDef>Fec. pago</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fecha_pago}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tooltip">
                        <mat-header-cell *matHeaderCellDef>L. pago</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div *ngIf="element.estado == 'PAGADO'">
                                <mat-icon matTooltip="{{element.tooltip}}">{{element.lugar_pago}}</mat-icon>
                            </div>
                            <div *ngIf="element.estado != 'PAGADO'">
                                -
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="class_estado">
                        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="label label-{{element.class_estado}} text-center">{{element.estado}}</span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="tipo">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #tipo="matMenu">
                                <button mat-menu-item disabled>
                                    <mat-icon>content_copy</mat-icon>
                                    <span>Documentos</span>
                                </button>
                                <button mat-menu-item disabled>
                                    <mat-icon>content_paste</mat-icon>
                                    <span>Generar boleta</span>
                                </button>
                                <button mat-menu-item (click)="openModalAnularMovimiento(element.id_movimiento, element.desc_cuota)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Anular</span>
                                </button>
                            </mat-menu>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumnsCompromisos"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsCompromisos;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
            </div>
        </div>
        <div *ngIf="dataSourceCompromisos.data.length == 0" class="img-search" id="cont_img_search_alum">
            <img src="assets/img/smiledu_faces/not_data_found.png">
            <p>No se encontraron pagos pendientes</p>
        </div>
    </mat-card-content>
    <div class="mat-right-menu">
        <button mat-icon-button *ngIf="arr_pagar.length > 0" (click)="openModalPagar()">
            <mat-icon>monetization_on</mat-icon>
        </button>
        <button mat-icon-button (click)="openModalRegistrar()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="tipo">
            <mat-icon>filter_list</mat-icon>
        </button>
        <mat-menu #tipo="matMenu">
            <button mat-menu-item (click)="getCompromisosByTipo(1)">
                <span>Todo</span>
            </button>
            <button mat-menu-item (click)="getCompromisosByTipo(2)">
                <span>Pendiente</span>
            </button>
        </mat-menu>
    </div>
</mat-card>

<div #modalPagar class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <mat-progress-bar mode="indeterminate" *ngIf="progress_pagar == true"></mat-progress-bar>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Pagar {{arr_pagar.length}} cuota(s)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="p-l-20">
                            <strong><small id="montoTotal">¿Estás seguro(a) de pagar {{arr_pagar.length}} cuota(s)?</small></strong>
                            <br>
                            <strong><small id="montoTotal">Monto total: {{monto_total}}</small></strong>
                            <br>
                            <strong><small id="montoDesc">Monto descuento: {{monto_desc}}</small></strong>
                            <br>
                            <strong><small id="montoCobrar">Monto a cobrar: {{monto_cobrar}}</small></strong>
                        </div>
                    </div>
                    <div class="text-right">
                        <button mat-button (click)="closeModalPagar()">Cerrar</button>
                        <button mat-button (click)="pagarCompromisos()">Pagar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div #modalRegistrarCompromiso class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <mat-progress-bar mode="indeterminate" *ngIf="progress_pagar == true"></mat-progress-bar>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Registrar compromiso</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field class="col-sm-12">
                        <mat-select placeholder="Conceptos" [(ngModel)]="cbConceptos">
                            <mat-option *ngFor="let option of conceptos; let i = index"  [value]="option.id_concepto">
                            {{option.desc_concepto}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-12">
                        <input [(ngModel)]="monto_comp" type="number" matInput placeholder="Monto (S/.)">
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions class="text-right">
                    <button mat-button (click)="closeModalRegistrar()">Cerrar</button>
                    <button mat-button (click)="saveCompromiso()">Registrar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div #modalAnularCompromiso class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <mat-progress-bar mode="indeterminate" *ngIf="progress_pagar == true"></mat-progress-bar>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>&iquest;Deseas anular el compromiso <strong>'{{desc_cuota}}'</strong>?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <strong>Recuerda:</strong> Al anular el compromiso el dinero sumar&aacute; a tu caja.
                    <div class="text-right p-t-20">
                        <button mat-button (click)="closeModalAnular()">CANCELAR</button>
                        <button mat-button (click)="anularCompromiso()">CONFIRMAR</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>