//- .cs-chart-content
//-     h2 Gráficos
//-     .button-row
//-         button(mat-icon-button)
//-             mat-icon file_download
//-         button(mat-icon-button)
//-             mat-icon more_vert

chart([options]="options")