.middle-view{
    background-color: #009688;
    height: 200px;
}
.mat-card-main{
    max-width: 1150px;
    margin: auto;
    padding: 0;
    margin-top: -120px;
}
.mat-card-main mat-card-title{
    padding: 24px;
    font-size: 24px;
    font-family: 'robotoregular';
}
.mat-card-main .mat-right-menu{
    position: absolute;
    top: 15px;
    right: 15px;
}

p{
    text-align: center;
}

select{
    width: 300px;
    display: block;
    margin: 0 auto;
}

div {
    text-align: center;
}