
<h1 mat-dialog-title>Mis incidencias
  <button class="cs-close" mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div class="no-padding" mat-dialog-content>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell class="text-center" *matHeaderCellDef>Monto</mat-header-cell>
      <mat-cell class="text-center" *matCellDef="let element">{{element.amount}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon>comment</mat-icon><span>Comentario</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.comment}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions></div>