
<div class="cs-footer-wrapper">
  <div class="cs-wancho">
    <div class="cs-content">
      <div class="cs-panel">
        <nav>
          <ul>
            <li><a>Escuelas</a></li>
            <li><a>Socios estratégicos</a></li>
            <li><a>Conoce más</a></li>
            <li><a>Blog</a></li>
          </ul>
          <ul>
            <li><a>Soporte</a></li>
            <li><a>Comunidad</a></li>
            <li><a>Términos de servicio</a></li>
            <li><a>Nosotros</a></li>
            <li><a>Contáctanos</a></li>
          </ul>
        </nav>
      </div>
      <div class="cs-panel">
        <div class="cs-text"><a href="http://smiledu.pe/" target="_blank">
            <figure><img [src]="LOGO_GRAY"></figure></a>
          <div class="cs-f-p">
            <p>Smiledu conecta a los padres con el aprendizaje de sus hijos y organiza todos los procesos de tu escuela, la hace crecer y acompaña en todo el proceso.</p>
          </div>
          <div class="cs-connect"><a href="https://www.facebook.com/Smiledu.pe" target="_blank">
              <button mat-icon-button><img [src]="ICON_FACEBOOK"></button></a><a href="https://www.instagram.com/smiledu_pe/" target="_blank">
              <button mat-icon-button><img [src]="ICON_INSTA_GRAY"></button></a><a href="https://twitter.com/smiledu_pe" target="_blank">
              <button mat-icon-button><img [src]="ICON_TWITTER_GRAY"></button></a><a href="https://www.linkedin.com/showcase/25013543/" target="_blank">
              <button mat-icon-button><img [src]="ICON_LINKEDIN_GRAY"></button></a></div>
          <div class="cs-copy">
            <p>Smiledu<span class="icon-special">&#xA9;</span>Hecho con<span class="icon-special cs-color">&hearts;</span>en Perú por<a>Softhy</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>