.cs-footer-wrapper
    .cs-wancho
        .cs-content
            .cs-panel
                nav
                    ul
                        li
                            a Escuelas
                        li
                            a Socios estratégicos
                        li
                            a Conoce más
                        li
                            a Blog

                    ul
                        li
                            a Soporte
                        li
                            a Comunidad
                        li
                            a Términos de servicio
                        li
                            a Nosotros
                        li
                            a Contáctanos

            .cs-panel
                .cs-text
                    a(href="http://smiledu.pe/", target="_blank")
                        figure
                            img([src]="LOGO_GRAY")
                    .cs-f-p
                        p Smiledu conecta a los padres con el aprendizaje de sus hijos y organiza todos los procesos de tu escuela, la hace crecer y acompaña en todo el proceso.
                    .cs-connect
                        a(href="https://www.facebook.com/Smiledu.pe", target="_blank")
                            button(mat-icon-button)
                                img([src]="ICON_FACEBOOK")
                        a(href="https://www.instagram.com/smiledu_pe/", target="_blank")
                            button(mat-icon-button)
                                img([src]="ICON_INSTA_GRAY")
                        a(href="https://twitter.com/smiledu_pe", target="_blank")
                            button(mat-icon-button)
                                img([src]="ICON_TWITTER_GRAY")

                        a(href="https://www.linkedin.com/showcase/25013543/", target="_blank")
                            button(mat-icon-button)
                                img([src]="ICON_LINKEDIN_GRAY")
                    .cs-copy
                        p Smiledu
                            span.icon-special &#xA9;
                            | Hecho con
                            span.icon-special.cs-color &hearts;
                            | en Perú por
                            a Softhy