
<div class="theme-bsc">
  <h1 class="dialog-header" mat-dialog-title>{{ title }}</h1>
  <button mat-icon-button style="opacity:0;position:absolute;top:0;right:0;">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <mat-list class="cs-mat-nav-list-modal">
    <mat-list-item *ngFor="let users of users; let i = index"><img matListAvatar [src]="users.foto_persona || UNKNOWN_USER_IMAGE">
      <h3 matLine>{{users.nombres}}</h3>
      <div *ngIf="type == 'brother'">
        <button mat-icon-button (click)="selectUser(users)">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      <div *ngIf="type != 'brother'">
        <button mat-icon-button disabled>
          <mat-icon>call</mat-icon>
        </button>
        <button mat-icon-button disabled>
          <mat-icon>email</mat-icon>
        </button>
        <button mat-icon-button (click)="removeResp(users.id_persona, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<hr>
<div class="theme-bsc" mat-dialog-actions>
  <button mat-button color="primary" (click)="onNoClick()">CERRAR</button>
</div>