@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
}

// cs-indicators{
//     animation-duration: 1s;
//     animation-fill-mode: both;
//     animation-name: fadeInDown;
// }