doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Smiledu
		base(href='/')
		script(src='https://apis.google.com/js/platform.js')
		script(src='//connect.facebook.net/en_US/sdk.js')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel='stylesheet', href='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css')
		link(rel='icon', type='image/x-icon', href='assets/img/header/logo-smiledu.png')
		style.
			.modal-backdrop.fade.in {
			z-index: -1;
			opacity: 0
			}
	body
		app-root Loading ...

		script(type='text/javascript', src='assets/jquery/jquery.min.js')
		script(src='https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js')
