<div class="middle-view"></div>
<mat-card class="mat-card-main">
  <mat-card-header>
    <mat-card-title>Devoluciones
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table responsive">
      <mat-table #table [dataSource]="dataSourceDevolucion">
        <ng-container matColumnDef="nombre_completo_retiro">
          <mat-header-cell *matHeaderCellDef> Asignado a</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre_completo_retiro}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="desc_concepto">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.desc_concepto}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha_registro">
          <mat-header-cell *matHeaderCellDef> Fecha Egreso </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fecha_registro}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha_devolucion">
          <mat-header-cell *matHeaderCellDef> Fecha de devoluci&oacute;n </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fecha_devolucion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="monto_final">
          <mat-header-cell *matHeaderCellDef> Monto Prestado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.monto_final}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="devuelto">
          <mat-header-cell *matHeaderCellDef> Monto Devuelto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.devuelto}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef> Acci&oacute;n </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <mat-slide-toggle color="primary" [disabled]="element.devolucion == 1" [checked]="element.devolucion == 1" (change)="modalDevolucion(i,element.monto_final,element._id_persona,element.id_movimiento)">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsDevoluciones"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsDevoluciones;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<!-- <button md-raised-button class="btn btn-lg btn-link" (click) = "goToCaja()">IR A CAJA</button> -->

<div #modalRegistrarDevolucion class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModalRegistrarDevolucion()">&times;</button>
        <h4 class="modal-title">Devoluci&oacute;n</h4>
      </div>
      <div class="modal-body">
        <label> Monto: </label>
        <input [(ngModel)]="monto_dev">
        <label> Observacion: </label>
        <input [(ngModel)]="observacion_dev">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="registrarDevolucion()">Aceptar</button>
      </div>
    </div>
  </div>
</div>